/* footer */
.ese{
    color: rgb(194, 194, 194);
}
h2{
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
h2 span ,h4 span{color: #ff7315;
    
}
p{font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;

}
.bgimage{
    background-image: url(../img/bg3.jpg);
    background-position-y: bottom;
}
.btn-org{ font-weight: 700;
    background-color: #ff7315;
    color: rgb(255, 255, 255);
}
.whitey{
    color: white;
}
.manfation{

   background-image: url(../img/left3.jpg);
   background-size: cover;


}
.low {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
body{
    overflow-x: hidden;
}
.navbar-brand span{
    color: #ff7316;
}
.bg-tran{
    background-color: rgba(38, 39, 39, 0.493);
}




